body {}
h3 {
    background-color: palegoldenrod;
    text-align: center;
    font-family: monospace;
    font-size: 33px;
    color: purple;
}

.timeis {
    color: lightseagreen;
    font-family: monospace;
    font-weight:700;
}

img{
    width:250px;
}

.boom7{
    border-radius:5%;
    border-width:4px;
    border-color:darkmagenta;
}

.datetimenow {
    background-color: lightcyan;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: purple;
}

.sp{
    width:22px;
    margin:5px;
    color:darkslateblue;
    font-size:22px;
    font-weight:600;
    font-family:Courier New, Courier, monospace;
}

td{
    font-size:10px;
}
th{
    font-size:13px;
}
.phytagor{
    width:150px;
    float:right;
}
#bg1{
    width:60%;
    height:50%;
    position:absolute;
    top:120px;
    left:32%;
    z-index:-10;
    background-color:lightblue;
}
.hidden{
    display:none;
}


@media screen and (max-width: 500px) {
    table{
        display:none;
    }
}